# Directus settings
DIRECTUS_PUBLIC_URL=http://localhost:8055
DIRECTUS_KEY=change-me
DIRECTUS_SECRET=change-me-too
DIRECTUS_ADMIN_EMAIL=admin@example.com
DIRECTUS_ADMIN_PASSWORD=admin1234
# Optional static token for read-only access (create in Directus or set STATIC_TOKEN in Directus)
DIRECTUS_STATIC_TOKEN=

# Nuxt public variables (will be exposed to client)
NUXT_PUBLIC_DIRECTUS_URL=http://localhost:8055
NUXT_PUBLIC_DIRECTUS_TOKEN=

# Nuxt server port (inside container we use 3000)
PORT=3000

